.pagination-container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.pagination-container nav {
  display: flex;
  align-items: center;
}

.pagination__ {
  display: flex;
  padding: 0 20px;
}

.pagination__ li {
  list-style-type: none;
  margin: 0 5px;
  height: max-content !important;
}

.pagination__ li:first-child {
  margin-left: 0 !important;
}

.pagination__ li button {
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 5px;

  font-size: 15px;
  color: #2e2e2e;
  line-height: 18px;
  text-align: center;
  border: none;
}

.pagination__ li.active button {
  background: #ff8500;
  color: #ffffff;
  border-radius: 5px;
}

.prev-button-wrapper button,
.next-button-wrapper button {
  display: flex;
  align-items: center;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .pagination__ li:first-child,
  .pagination__ li.active,
  .pagination__ li.active-sibling:nth-last-child(2),
  .pagination__ li:last-child {
    display: flex !important;
  }
  .pagination__ li:first-child:nth-last-child(n + 6) ~ .pagination__ li {
    display: none;
  }
  .pagination__
    li:first-child:nth-last-child(n + 6)
    ~ .pagination__
    li:nth-last-child(-n + 3) {
    display: flex;
  }
  .pagination__
    li:first-child:nth-last-child(n + 6)
    ~ .pagination__
    li:nth-last-child(3):before {
    content: "\2026";
    font-size: 24px;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
  }
  .pagination__ li:first-child:nth-last-child(n + 6).active:before,
  .pagination__
    li:first-child:nth-last-child(n + 6)
    ~ .pagination__
    li.active:before {
    content: "\2026";
    font-size: 24px;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
  }
  .pagination__ li:first-child:nth-last-child(n + 6).active:after,
  .pagination__
    li:first-child:nth-last-child(n + 6)
    ~ .pagination__
    li.active:after {
    content: "\2026";
    font-size: 24px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
  }
  .pagination__
    li:first-child:nth-last-child(n + 6).active:nth-child(-n + 2):before,
  .pagination__
    li:first-child:nth-last-child(n + 6)
    ~ .pagination__
    li.active:nth-child(-n + 2):before,
  .pagination__
    li:first-child:nth-last-child(n + 6).active:nth-last-child(-n + 2):before,
  .pagination__
    li:first-child:nth-last-child(n + 6)
    ~ .pagination__
    li.active:nth-last-child(-n + 2):before,
  .pagination__
    li:first-child:nth-last-child(n + 6).active:nth-child(-n + 2):after,
  .pagination__
    li:first-child:nth-last-child(n + 6)
    ~ .pagination__
    li.active:nth-child(-n + 2):after,
  .pagination__
    li:first-child:nth-last-child(n + 6).active:nth-last-child(-n + 2):after,
  .pagination__
    li:first-child:nth-last-child(n + 6)
    ~ .pagination__
    li.active:nth-last-child(-n + 2):after {
    display: none;
  }
  .pagination__
    li:first-child:nth-last-child(n + 6).active
    ~ .pagination__
    li:nth-last-child(-n + 3),
  .pagination__
    li:first-child:nth-last-child(n + 6)
    ~ .pagination__
    li.active
    ~ .pagination__
    li:nth-last-child(-n + 3) {
    display: none;
  }
  .pagination__
    li:first-child:nth-last-child(n + 6).active
    ~ .pagination__
    li:nth-child(-n + 3),
  .pagination__
    li:first-child:nth-last-child(n + 6)
    ~ .pagination__
    li.active
    ~ .pagination__
    li:nth-child(-n + 3) {
    display: flex;
  }
  .pagination__
    li:first-child:nth-last-child(n + 6).active
    ~ .pagination__
    li:nth-child(-n + 2):after,
  .pagination__
    li:first-child:nth-last-child(n + 6)
    ~ .pagination__
    li.active
    ~ .pagination__
    li:nth-child(-n + 2):after {
    display: none;
  }
  .pagination__
    li:first-child:nth-last-child(n + 6).active
    ~ .pagination__
    li:nth-child(3):after,
  .pagination__
    li:first-child:nth-last-child(n + 6)
    ~ .pagination__
    li.active
    ~ .pagination__
    li:nth-child(3):after {
    content: "\2026";
    font-size: 24px;
    display: inline-block;
    margin-left: 2.5px;
    margin-right: 2.5px;
  }
}

@media (min-width: 768px) {
  .pagination__ li:first-child,
  .pagination__ li.active-sibling,
  .pagination__ li.active,
  .pagination__ li.active + .pagination__ li,
  .pagination__ li:last-child {
    display: flex !important;
    align-items: center;
  }
  .pagination__ li:first-child:nth-last-child(n + 8) ~ .pagination__ li {
    display: none;
  }
  .pagination__
    li:first-child:nth-last-child(n + 8)
    ~ .pagination__
    li.active-sibling:before {
    content: "\2026";
    font-size: 24px;
    display: inline-block;
    margin-right: 2.5px;
    margin-left: 2.5px;
  }
  .pagination__
    li:first-child:nth-last-child(n + 8)
    ~ .pagination__
    li.active
    + .pagination__
    li:after {
    content: "\2026";
    font-size: 24px;
    display: inline-block;
    margin-left: 2.5px;
    margin-right: 2.5px;
  }
  .pagination__
    li:first-child:nth-last-child(n + 8)
    ~ .pagination__
    li:nth-last-child(-n + 5) {
    display: flex;
    align-items: center;
  }
  .pagination__
    li:first-child:nth-last-child(n + 8)
    ~ .pagination__
    li:nth-last-child(5):before {
    content: "\2026";
    font-size: 24px;
    display: inline-block;
    margin-right: 2.5px;
    margin-left: 2.5px;
  }
  .pagination__
    li:first-child:nth-last-child(n + 8)
    ~ .pagination__
    li:nth-child(-n + 2):before,
  .pagination__
    li:first-child:nth-last-child(n + 8)
    ~ .pagination__
    li:nth-last-child(-n + 2):before,
  .pagination__
    li:first-child:nth-last-child(n + 8)
    ~ .pagination__
    li.active-sibling:nth-last-child(-n + 4):before,
  .pagination__
    li:first-child:nth-last-child(n + 8)
    ~ .pagination__
    li:nth-child(-n + 2):after,
  .pagination__
    li:first-child:nth-last-child(n + 8)
    ~ .pagination__
    li:nth-last-child(-n + 2):after,
  .pagination__
    li:first-child:nth-last-child(n + 8)
    ~ .pagination__
    li.active-sibling:nth-last-child(-n + 4):after {
    display: none !important;
  }
  .pagination__
    li:first-child:nth-last-child(n + 8).active
    ~ .pagination__
    li:nth-last-child(-n + 5),
  .pagination__
    li:first-child:nth-last-child(n + 8)
    ~ .pagination__
    li.active
    ~ .pagination__
    li:nth-last-child(-n + 5) {
    display: none;
  }
  .pagination__
    li:first-child:nth-last-child(n + 8).active
    ~ .pagination__
    li:nth-last-child(-n + 5):before,
  .pagination__
    li:first-child:nth-last-child(n + 8)
    ~ .pagination__
    li.active
    ~ .pagination__
    li:nth-last-child(-n + 5):before {
    display: none;
  }
  .pagination__
    li:first-child:nth-last-child(n + 8).active
    ~ .pagination__
    li:nth-child(-n + 5),
  .pagination__
    li:first-child:nth-last-child(n + 8)
    ~ .pagination__
    li.active
    ~ .pagination__
    li:nth-child(-n + 5) {
    display: flex;
    align-items: center;
  }
  .pagination__
    li:first-child:nth-last-child(n + 8).active
    ~ .pagination__
    li:nth-child(-n + 4):after,
  .pagination__
    li:first-child:nth-last-child(n + 8)
    ~ .pagination__
    li.active
    ~ .pagination__
    li:nth-child(-n + 4):after {
    display: none;
  }
  .pagination__
    li:first-child:nth-last-child(n + 8).active
    ~ .pagination__
    li:nth-child(5):after,
  .pagination__
    li:first-child:nth-last-child(n + 8)
    ~ .pagination__
    li.active
    ~ .pagination__
    li:nth-child(5):after {
    content: "\2026";
    font-size: 24px;
    display: inline-block;
    margin-left: 2.5px;
    margin-right: 2.5px;
  }
  .pagination__ li:first-child:nth-last-child(n + 8).active:before,
  .pagination__
    li:first-child:nth-last-child(n + 8)
    ~ .pagination__
    li.active:before,
  .pagination__ li:first-child:nth-last-child(n + 8).active:after,
  .pagination__
    li:first-child:nth-last-child(n + 8)
    ~ .pagination__
    li.active:after {
    display: none;
  }
}

@media (max-width: 475px) {
  .pagination__ {
    padding: 0 16px;
  }
}
